#prenom {
	font-family: Computerfont;
	font-size: 60px;
	line-height: 1;
	vertical-align: bottom;
}

#nom {
	font-family: Computerfont;
	font-size: 70px;
	margin-left: 15px;
	position: absolute;
	top: 36px;
}

#job {
	font-family: Arial;
	float: right;
	font-size: 30px;
}

#contacts {
	font-size: 16px;
	padding: 5px 10px;
	background-color: #96bdeb;
}

#infos-legal {
	clear: left;
	width: 100%;
	padding: 2px 5px;
	box-sizing: border-box;
	background-color: #3f86c4;
	font-size: 12px;
}

.box {
	display: inline-block;
	width: 49.5%;
	height: 100%;
	padding: 0 30px;
	box-sizing: border-box;
	vertical-align: top;
}

.box .title {
	font-style: italic;
	text-align: left;
	border-bottom: 1px solid white;
}


#networks a img {
	margin: 10px;
	height: 50px;
}

header, footer {
	width: 100%;
	color: white;
	font-size: 20px;
	box-sizing: border-box;
}

header {
	height: 115px;
	padding: 5px 10px;
	background-color:  #3f86c4;
}

footer {
	height: 139px;
	position: absolute;
	bottom: 0px;
}

nav {
	position: sticky;
	top: 0px;
	width: 100%;
	background-color: #96bdeb;
	color: white;
	font-family: "Calibri";
	font-size: 20px;
	z-index: 5;
}

nav a {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	border: none;
}

nav a:hover {
	background-color: #3f86c4;
}

footer th, td{
	padding: 2px 5px;
}

footer th {
	font-weight: normal;
	font-style: italic;
}

footer td {
	font-weight: bold;
}

footer a {
	text-decoration: none;
	color:white;
}


	