*{
	margin: 0px;
	padding: 0px;
	border: none;
	font-family: "Calibri";
}
 
html {
	min-height: 100%;
}

@media (max-width: 925px) {
	html {
		width: 100%;
	}
}

@media (min-width: 925px) {
	html {
		width: 98vw;
	}
}

body  {
	max-width: 900px;
	min-height: 100vh;
	box-sizing: border-box;
	margin: auto;
	padding-bottom: 139px;
	position: relative;
}

p {
	text-align: justify;
}

.page {
	margin: 15px auto;
	width: 500px;
	padding: 5px;
}

.section-title {
	text-align: left;
	color: #3f86c4;
	font-size: 20px;
	border-bottom: 2px solid #3f86c4;
	margin: 20px 0 10px 0;
}

#proverbe-box {
	width: 33%;
	float: right;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}

#proverbe-box h3 {
	color: #3f86c4;
}

.proverbe {
	margin: 10px auto;
}

@font-face {
	font-family: Computerfont;
	src: url(/Computerfont.ttf);
}